/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2014, 2:01:01 PM
    Author     : spledger
*/

.html5calendar *[class*="ht5c-"]{
	font-size:1em;
	line-height:1em;
	margin:0;
	padding:0;
}

.html5calendar > .ht5c-inner {
	position: relative;
}

.html5calendar > ul[data-calendar-events] {
	display: none;
}

.html5calendar ul[class*="ht5c-"]{
	display:block;
	list-style: none;
	width:100%;
}

.html5calendar ul[class*="ht5c-"] > li {
	display:block;
}

.html5calendar .ht5c-event > *,
.html5calendar .ht5c-hour > *
 {
	font-size:1rem;
	line-height:1rem;
}

.html5calendar .ht5c-week {
	width:100%;
}

.html5calendar .ht5c-week > li {
	float:left;
}

.html5calendar .ht5c-week > li > time {
	display:block;
	font-size:1rem;
}

.html5calendar .ht5c-hours {
	position:relative;
	left:0;
	right:1px;
	border-left:1px solid #CCC;
}

.html5calendar .ht5c-hours > li {
	border-bottom:1px solid #CCC;
	margin-bottom:-1px;
	margin-right:1px;
}

.html5calendar .ht5c-hours > li:nth-of-type(even) {
	border-bottom:1px dotted #CCC;
}


.html5calendar .ht5c-hours > li > time {
	display: block;
	padding-top: 2px;
	line-height: 1em;
	font-size: 0.6rem;
	width: 2.8rem;
	text-align: right;
}
